*{
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

body{
    background-color: #d6ca1e;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button{
    background-color: #8b0707;
    cursor: pointer;
    color: white;
}

button:hover{
    color: white;
    background-color: #a50e0e;
}

#page{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title_game{
    width: 25rem;
    transition: transform 2.0s ease;
    animation: swing 0.8s infinite;
}

@keyframes swing{
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button{
    border-radius: 10px;
    width: 15vw;
    height: 9vh;
    margin: 10px;
    border-color: white;  
    border-width: 5px 5px 5px 5px;
    font-size: 4vh;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;

    &:hover{
        transform: scale(1.05);
    }
}

/*
.boneco{
    width: 8rem;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;
    position: absolute;
    top: calc(50% + 20px);
    left: calc(25% + 10px);

    &:hover {
        transform: scale(1.05);
    }
}

.balao{
    width: 12%;
    position: absolute;
    top: calc(35% + 30px);
    left: calc(15% + 20px);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;

    &:hover {
        transform: scale(1.05);
    }
}*/

@media only screen and (max-width: 900px){
    .title_game{
        width: 18rem;
        margin-bottom: 15px;
    }

    #button{
        font-size: 3vh;
        width: 30vw;
        height: 10vh;
    }

    /*
    .boneco{
        display: none;
    }

    .balao{
        display: none;
    }
    */
}








