button{
    background-color: #8b0707;
    cursor: pointer;
    color: white;
}

#overlay{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 85vh;
    border: 1rem solid white;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: #8b0707;
    text-align: center;
    z-index: 3;
}

@media (max-width: 768px) {
    #overlay {
      max-width: 95vw;
      width: 90%;
    }
}

#X{
    position: absolute;
    top: -10px; 
    right: -10px; 
    border: none;
    background: none;
    border: none;
    outline: none;
    width: 5vw;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;

    &:hover {
      transform: scale(1.05);
    }
}

@media (max-width: 768px) {
  #X {
    width: 6vw;
  }
}

/*INÍCIO da estilização "geral"*/

.title{
    color: white;
    font-size: 3.0rem;
}

/*FIM da estilização "geral"*/


/*INÍCIO da estilização "system"*/

.form{
    border-top: 1px solid white;
    padding: 2rem 2rem 2rem 2rem;
}

#system{  
    padding: 1px;
    color: white;
    font-size: 2.5rem;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    max-height: 100%;
}

#system::-webkit-scrollbar {
  width: 12px;
}
#system::-webkit-scrollbar-track {
  padding: 10px;
}
#system::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
}
#system::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}
#system::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
}

/*FIM da estilização "system"*/

/*INÍCIO da estilização "credits"*/

.name{
    height: 4vh;
    border-top: 1px solid white;
    margin: 1em;
    align-items: center;
}

#credits{
  padding: 1px;
  color: white;
  font-size: 2.5rem;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  max-height: 100%;
}

#credits::-webkit-scrollbar {
    width: 12px;
  }
#credits::-webkit-scrollbar-track {
    padding: 10px;
  }
#credits::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
  }
#credits::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
  }
#credits::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4);
  }

/*FIM da estilização "credits"*/

/*INÍCIO da estilização "como jogar-GAME.HTML*/

.form{
  border-top: 1px solid white;
  padding: 2rem 2rem 2rem 2rem;
}

#how{
  padding: 1px;
  color: white;
  font-size: 2.5rem;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  max-height: 100%;
}

#how::-webkit-scrollbar {
width: 12px;
}
#how::-webkit-scrollbar-track {
padding: 10px;
}
#how::-webkit-scrollbar-thumb {
background: rgba(255, 255, 255, 0.6);
border-radius: 50px;
}
#how::-webkit-scrollbar-thumb:hover {
background: rgba(255, 255, 255, 0.8);
}
#how::-webkit-scrollbar-thumb:window-inactive {
background: rgba(255, 255, 255, 0.4);
}

/*FIM da estilização "como jogar-GAME.HTML"*/

/*INÍCIO da estilização "sn-GAME.HTML*/

#sn{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 40vh;
  border: 1rem solid white;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background-color: #8b0707;
  z-index: 3;
}

#correct, #erro, #perdeu{
  padding: 1px;
  color: white;
  margin: 0;
  height: 100%;
  max-height: 100%;
  text-align: center;
}

.p1{
  font-size: 2.5rem;
  border-bottom: 1px solid white;
  padding: 1rem 1rem 1rem 1rem;
}

.p2{
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;
}


/*FIM da estilização "sn-GAME.HTML"*/
