body {
    background-image: url("img_index/SO_O_MAPA.jpg");
    background-size: 95%;
    margin: 0; /* Adicionei esta linha para garantir que o corpo não tenha margens padrão */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.casas{
    height: 9.5vw;
    width: 9.5vw;
    background-color: gray;
    text-align: center;
    align-items: center;
    position: absolute;
    border-radius: 1.5vw;
}

#casa1{
    top: 8.25vh;
    left: 8vw;
}
#casa2{
    top: 8.25vh;
    left: 19.75vw;
}
#casa3{
    top: 31vh;
    left: 19.75vw;
}
#casa4{
    top: 54vh;
    left: 19.75vw;
}

#casa5{
    top: 77vh;
    left: 19.75vw;
}
#casa6{
    top: 77vh;
    left: 31.5vw;
}
#casa7{
    top: 77vh;
    left: 43.25vw;
}
#casa8{
    top: 54vh;
    left: 43.25vw;
}
#casa9{
    top: 31vh;
    left: 43.25vw;
}
#casa10{
    top: 8.25vh;
    left: 43.25vw;
}
#casa11{
    top: 8.25vh;
    left: 55vw;
}
#casa12{
    top: 8.25vh;
    left: 66.75vw;
}
#casa13{
    top: 31vh;
    left: 66.75vw;
}
#casa14{
    top: 54vh;
    left: 66.75vw;
}
#casa15{
    top: 77vh;
    left: 66.75vw;
}


.personagem {
    position: absolute;
    width: 8vw;
    height: 14vh;
    top: 0.75vw;
    right: 0.75vw;
}
.veia-bagulhada {
    position: absolute; 
    width: 10vw;
    top: 0.15vh;
    right: 0.0001vw; 
}

.rins {
    position: absolute;
    width: 8vw;
    top: 0.75vh; 
    left: 0.75vw;
}

.ureter {
    position: absolute;
    width: 8vw;
    top: 0.75vh; 
    left: 0.75vw;
}

.bexiga {
    position: absolute;
    width: 8vw;
    top: 1vh; 
    left: 0.75vw;
}

.bloqueada {
    opacity: 0.40;
    pointer-events: none; 
}

.desbloqueada{
    opacity: 1;
}

#home{
    border-radius: 10vw;
    border-width: 10vw;
    color: black;
    width: 4.5vw;
    height: 9.5vh;
    text-align: center;
    font-size: 3vw;
    background-color:lightyellow;
    margin-left: 92vw;
    margin-bottom: 65vw;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;
}

