body {
    background-image: url("img_index/SO_O_MAPA.jpg");
    background-size: 95%;
    margin: 0; /* Adicionei esta linha para garantir que o corpo não tenha margens padrão */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.casas{
    height: 9.5vw;
    width: 9.5vw;
    background-color: gray;
    text-align: center;
    align-items: center;
    position: absolute;
    border-radius: 1.5vw;
}

#casa1{
    top: 8.25vh;
    left: 8.25vw;
}
#casa2{
    top: 8.25vh;
    left: 19.25vw;
}

.personagem {
    position: absolute;
    width: 8vw;
    height: 14vh;
    top: 0.75vw;
    right: 0.75vw;
}
.veia-bagulhada {
    position: absolute; /* Define a posição absoluta */
    width: 8vw;
    top: 0.75vh; /* 9% da altura da viewport */
    left: 0.75vw; /* 20% da largura da viewport */
}


/* Estilo para a classe 'imagem' compartilhada por todas as imagens */
/*.imagem {
    width: 8vw;
    height: 14vh;
}*/

/* Estilo para a classe 'bloqueada' compartilhada por todas as imagens */
.bloqueada {
    opacity: 0.5; /* Reduz a opacidade para indicar que a imagem está bloqueada */
    pointer-events: none; /* Desativa eventos de clique na imagem bloqueada */
}

.desbloqueada{
    opacity: 1;
}

/* Estilo específico para a classe 'bexiga' */
.bexiga {
    position: absolute; /* Define a posição absoluta */
    top: 33.5vh; /* 32% da altura da viewport */
    left: 68.5vw; /* 69% da largura da viewport */
}

/* Estilo específico para a classe 'captura-tela' */
.captura-tela {
    position: absolute; /* Define a posição absoluta */
    top: 10vh; /* 9% da altura da viewport */
    left: 43vw; /* 44% da largura da viewport */
}

/* Estilo específico para a classe 'rins' */
.rins {
    position: absolute; /* Define a posição absoluta */
    top: 79vh; /* 77% da altura da viewport */
    left: 31.5vw; /* 32% da largura da viewport */
}

/* Estilo específico para a classe 'veia-bagulhada' */



#home{
    border-radius: 10vw;
    border-width: 10vw;
    border-color: black;
    color: black;
    width: 4.5vw;
    height: 9.5vh;
    text-align: center;
    font-size: 3vw;
    background-color:lightyellow;
    margin-left: 92vw;
    margin-bottom: 65vw;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;
}

