*{
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

.title{
    width: 30%;
    display: flex;
    margin: 0 auto;
    margin-top: 8%; 
    transition: transform 2.0s ease;
    animation: swing 0.8s infinite;
}

@keyframes swing{
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

button{
    background-color: #8b0707;
    cursor: pointer;
    color: white;
}

button:hover{
    color: white;
    background-color: #a50e0e;
}

body{
    background-color: #b9ae14;
    position: relative;
}

#buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button{
    border-radius: 10px;
    width: 20%;
    height: 9vh;
    margin: 10px;
    border-color: white;  
    border-width: 5px 5px 5px 5px;
    font-size: 2vw;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;

    &:hover{
        transform: scale(1.05);
    }
}

.boneco{
    width: 10%;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;
    position: absolute;
    top: calc(40% + 30px);
    left: calc(25% + 10px);

    &:hover {
        transform: scale(1.05);
    }
}

.balao{
    width: 12%;
    position: absolute;
    top: calc(25% + 30px);
    left: calc(15% + 10px);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;

    &:hover {
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 768px){
    .title{
        width: 40%;
        margin-top: 20%;
        margin-bottom: 15px;
    }

    .button{
        width: 30%;
        font-size: 3vh;
    }
}

@media only screen and (max-width: 900px){
    .boneco{
        width: 12%;
        position: absolute;
        top: calc(50% + 40px);
        left: calc(17% + 10px);
    }

    .balao{
        width: 20%;
        position: absolute;
        top: calc(30% + 30px);
        left: calc(5% + 10px);
    }
}





