*{
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

body{
    background-color: #D8CC1D;
    position: relative;
}

button{
    background-color: #8b0707;
    cursor: pointer;
    color: white;
    visibility: visible;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;

    &:hover{
        transform: scale(1.05);
    }
}

button:hover{
    color: white;
    background-color: #a50e0e;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#config{
    visibility: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 85vh;
    border: 1rem solid white;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: #8b0707;
    text-align: center;
}

.title{
    width: 30%;
    transition: transform 2.0s ease;
    animation: swing 0.8s infinite;
}

@keyframes swing{
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#buttons{
    display: flex;
    flex-direction: column;
}

.button{
    border-radius: 10px;
    width: 100%;
    height: 9vh;
    margin: 10px;
    border-color: white;  
    border-width: 5px 5px 5px 5px;
    font-size: 2vw;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;

    /*&:hover{
        transform: scale(1.05);
    }*/
}

.boneco{
    width: 8%;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;
    position: absolute;
    top: calc(50% + 30px);
    left: calc(25% + 10px);

    /*&:hover {
        transform: scale(1.05);
    }*/
}

.balao{
    width: 12%;
    position: absolute;
    top: calc(35% + 30px);
    left: calc(15% + 20px);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;

    /*&:hover {
        transform: scale(1.05);
    }*/
}

@media only screen and (max-width: 768px){
    .title{
        width: 60%;
        margin-bottom: 15px;
    }

    .button{
        font-size: 4vw;
        height: 8vh;
    }

    .boneco{
        width: 15%;
        top: calc(55% + 25px);
        left: calc(12% + 8px);
    }

    .balao{
        width: 25%;
        top: calc(42% + 55px);
        left: 1%;
    }
}

