body{
    background-image: url(/Urinary-System-Game-main/Page_inicio/img_index/SÓ\ O\ MAPA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}