#mijaAnima{
    animation: fall 5s linear infinite;
    animation-iteration-count: 1;
    opacity: 0;
}

@keyframes fall{
    0%{
        transform: translate(0%,0%) rotate(0deg);
        opacity: 1;
    }
    25%{
        transform: translate(0%,75%) rotate(45deg);
        opacity: 1;
    }
    
    50%{
        transform: translate(0%,100%) rotate(70deg);
        opacity: 1;
    }

    75%{
        transform: translate(-75%,75%) rotate(75deg);
        opacity: 1;
    }
    100%{
        transform: translate(-100%,50%) rotate(0deg);
        opacity: 0;
    }
}